<ul>
    <li>Status:<br />
        {{ node['networq:action:action']['status'] }}
    </li>
    <li>Completed:<br />
        {{ node['networq:action:action']['completedAt']|default('-') }}
    </li>
    <li>Assignee:<br />
        {% if node['networq:action:action']['assignee'] %}
        <a href="{{ node['networq:action:action']['assignee']|nodePath }}">
            {{ node['networq:action:action']['assignee']['networq:core:node']['name'] }}
        </a>
        {% else %}
        Unassigned
        {% endif %}
    </li>
    <li>List:<br />
        {% if node['networq:action:action']['list'] %}
        <a href="{{ node['networq:action:action']['list']|nodePath }}">
            {{ node['networq:action:action']['list']['networq:core:node']['name'] }}
        </a>
        {% else %}
        -
        {% endif %}
    </li>

</ul>